<header class="bg-emerald-900">
  <nav class="flex justify-between items-center w-[92%]  mx-auto">
    <div>
      <img class=" cursor-pointer" src="assets/images/logo.png" alt="Kart">
    </div>
    <div
      class="nav-links duration-500 md:static absolute  md:min-h-fit min-h-[60vh] left-0 top-[-100%] md:w-auto  w-full flex items-center px-5">
      <ul class="flex md:flex-row flex-col md:items-center md:gap-[4vw] gap-8">
        <li class="space-x-2">
          <i class="bi bi-house text-white"></i>
          <a class="text-white hover:text-gray-200" href="#">Home</a>
        </li>
        <li class="space-x-2">
          <i class="bi bi-cart4 text-white"></i>
          <a class="text-white hover:text-gray-200" href="#">Cart</a>
        </li>
        <li class="space-x-2">
          <i class="bi bi-heart text-white"></i>
          <a class="text-white hover:text-gray-200" href="#">Whishlist</a>
        </li>
        <li class="space-x-2">
          <i class="bi bi-receipt-cutoff text-white"></i>
          <a class="text-white hover:text-gray-200" href="#">My Order</a>
        </li>
      </ul>
    </div>
    <div class="flex items-center space-x-2">
      <i class="bi bi-person text-white"></i>
      <a class="text-white hover:text-gray-200" href="#">User</a>
    </div>
  </nav>
</header>


