<app-homeheader></app-homeheader>
<app-productnav></app-productnav>
<div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4">
    <div class="card-container p-5">
        <mat-card class="example-card flex justify-center items-center">
            <img mat-card-image src="../../assets/images/shoe-dog.jpg" alt="shoe-dog" class="max-h-60 max-w-40">
                <mat-card-header>
                    <mat-card-title class="text-emerald-900">Shoe Dog - A Memoir by the Creator of
                        Nike</mat-card-title>
                    <mat-card-subtitle class="text-rose-800 font-extrabold">Rs. 299</mat-card-subtitle>
                </mat-card-header>
            <mat-card-actions>
                <button mat-button><span class="material-symbols-outlined">
                        favorite
                    </span></button>
                <button mat-button><span class="material-symbols-outlined">
                        share
                    </span></button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="card-container p-5">
        <mat-card class="example-card flex justify-center items-center">
            <img mat-card-image src="../../assets/images/shoe-dog.jpg" alt="shoe-dog" class="max-h-60 max-w-40">
                <mat-card-header>
                    <mat-card-title class="text-emerald-900">Shoe Dog - A Memoir by the Creator of
                        Nike</mat-card-title>
                    <mat-card-subtitle class="text-rose-800 font-extrabold">Rs. 299</mat-card-subtitle>
                </mat-card-header>
            <mat-card-actions>
                <button mat-button><span class="material-symbols-outlined">
                        favorite
                    </span></button>
                <button mat-button><span class="material-symbols-outlined">
                        share
                    </span></button>
            </mat-card-actions>
        </mat-card>
    </div>  <div class="card-container p-5">
        <mat-card class="example-card flex justify-center items-center">
            <img mat-card-image src="../../assets/images/shoe-dog.jpg" alt="shoe-dog" class="max-h-60 max-w-40">
                <mat-card-header>
                    <mat-card-title class="text-emerald-900">Shoe Dog - A Memoir by the Creator of
                        Nike</mat-card-title>
                    <mat-card-subtitle class="text-rose-800 font-extrabold">Rs. 299</mat-card-subtitle>
                </mat-card-header>
            <mat-card-actions>
                <button mat-button><span class="material-symbols-outlined">
                        favorite
                    </span></button>
                <button mat-button><span class="material-symbols-outlined">
                        share
                    </span></button>
            </mat-card-actions>
        </mat-card>
    </div>  <div class="card-container p-5">
        <mat-card class="example-card flex justify-center items-center">
            <img mat-card-image src="../../assets/images/shoe-dog.jpg" alt="shoe-dog" class="max-h-60 max-w-40">
                <mat-card-header>
                    <mat-card-title class="text-emerald-900">Shoe Dog - A Memoir by the Creator of
                        Nike</mat-card-title>
                    <mat-card-subtitle class="text-rose-800 font-extrabold">Rs. 299</mat-card-subtitle>
                </mat-card-header>
            <mat-card-actions>
                <button mat-button><span class="material-symbols-outlined">
                        favorite
                    </span></button>
                <button mat-button><span class="material-symbols-outlined">
                        share
                    </span></button>
            </mat-card-actions>
        </mat-card>
    </div>  <div class="card-container p-5">
        <mat-card class="example-card flex justify-center items-center">
            <img mat-card-image src="../../assets/images/shoe-dog.jpg" alt="shoe-dog" class="max-h-60 max-w-40">
                <mat-card-header>
                    <mat-card-title class="text-emerald-900">Shoe Dog - A Memoir by the Creator of
                        Nike</mat-card-title>
                    <mat-card-subtitle class="text-rose-800 font-extrabold">Rs. 299</mat-card-subtitle>
                </mat-card-header>
            <mat-card-actions>
                <button mat-button><span class="material-symbols-outlined">
                        favorite
                    </span></button>
                <button mat-button><span class="material-symbols-outlined">
                        share
                    </span></button>
            </mat-card-actions>
        </mat-card>
    </div>  <div class="card-container p-5">
        <mat-card class="example-card flex justify-center items-center">
            <img mat-card-image src="../../assets/images/shoe-dog.jpg" alt="shoe-dog" class="max-h-60 max-w-40">
                <mat-card-header>
                    <mat-card-title class="text-emerald-900">Shoe Dog - A Memoir by the Creator of
                        Nike</mat-card-title>
                    <mat-card-subtitle class="text-rose-800 font-extrabold">Rs. 299</mat-card-subtitle>
                </mat-card-header>
            <mat-card-actions>
                <button mat-button><span class="material-symbols-outlined">
                        favorite
                    </span></button>
                <button mat-button><span class="material-symbols-outlined">
                        share
                    </span></button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>