<div class="loginbox flex flex-col justify-center items-center p-2 mt-10 ">
    <form id="signUpForm" class="bg-blue-900 loginform  flex justify-center flex-col w-96 rounded-lg p-8" [formGroup] ="loginForm" (ngSubmit)="onFormLoginSubmitted()">
        <h1 class="text-center text-2xl">Sign Up</h1>
        <div class="formcontrol p-5  flex flex-col">
          <mat-form-field class="example-full-width">
              <mat-label>Email Id</mat-label>
              <input matInput placeholder="Ex. user@gmail.com"  formControlName="email">
              <small *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched">
                *Email is not valid
              </small>
          </mat-form-field>
        </div>
        <div class="formcontrol p-5  flex flex-col">
          <mat-form-field>
              <mat-label>Password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon class="text-blue-900">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <small *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
                *Password is not valid
              </small>
          </mat-form-field>
        </div>
        <div class="flex justify-center items-center">
        <button [disabled]="loginForm.invalid" type="submit" class="w-24 text-base button-color" mat-raised-button >Signup</button>
        </div>
        <span id="displayError" ></span>
    </form>
</div>